<div id='splash' class="container position-relative d-flex flex-column justify-content-center align-items-center vh-100 bg-light px-0">
  <h3 class="logo"> ADE-BUDGET</h3>
  <div class="d-flex flex-column position-absolute bottom-0 w-100">
    <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary rounded-0" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-outline-primary rounded-0" %>
  </div>
</div>
